:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --white: #fffffe;
  --yellow: #ffd803;
  --light-yellow:#ffe242;
  --header-color: #272343;
  --p-color: #2d334a;
  --btn-text: #272343;
  --skyblue: #e3f6f5;
}

body {
  background-color: #fffffe;
}

h1 {
  color: var(--header-color);
  font-weight: bold;
}

p {
  color: var(--p-color);
}

/* NAVBAR */
.nav-brand {
  cursor: pointer;
  font-weight: bold;
}

.nav-text {
  color: var(--header-color);
}

.nav-text:hover {
  color: var(--yellow);
}

/* HERO SECTION */
.hero {
  min-height: 90vh;
}

.btn-explore {
  background-color: var(--yellow);
  color: var(--btn-text);
  transition: 0.5s all ease;
}

.btn-explore:hover {
  background-color: var(--light-yellow);
  box-shadow: 0px 2px 4px var(--light-yellow);
}

/* ABOUT SECTION */
.about {
  min-height: 100vh;
  background-color: var(--skyblue);
}

.services-container {
  border: none;
  box-shadow: 0px 2px 4px var(--white);
}

@media only screen and (max-width: 992px) {
  .services-container {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

/* DRAMAS PAGE */
.drama-container {
  background-color: var(--skyblue);
  border: none;
  box-shadow: 0px 3px 15px var(--skyblue);
}

.drama-container h1 {
  color: var(--header-color);
  font-weight: 600;
}

.genre-tags {
  background: var(--white);
  color: var(--header-color);
  font-weight: 600;
  border: none;
}

.icon-img {
  transition: 0.25s ease all;
  cursor: pointer;
  fill: var(--header-color);
}

.icon-img:hover {
  fill: var(--yellow);
}

/* ADD,EDIT DRAMA PAGE */
.form-card {
  border: none;
  background-color: var(--skyblue);
  box-shadow: 0px 3px 15px var(--skyblue);
}

/* CONTACT SECTION */
.contact {
  background-color: var(--skyblue); 
}

/* FOOTER SECTION */
.footer a {
  text-decoration: none;
  color: var(--header-color);
}

.footer a:hover {
  color: var(--yellow);
}

@media only screen and (max-width: 992px) {
  .footer-container {
    flex-direction: column;
  }
}