:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.nav-brand {
  cursor: pointer;
}

.genre-tags {
  border-radius: 12px;
  background: linear-gradient(170deg, #fafafa, #d3d3d3);
}